<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_tag do %>
      const foo = '<%= select_tag(:foo, raw("<option>bar</option><option>baz</option>")) %>'
      $('#put_it_here').append(foo)
    <% end %>
  </head>

  <body>
      <%= yield %>
  </body>

  <script>
  $(document).ready(function () {
  // JS to smooth scroll div.
  $(".arc-menu a").on("click", function (e) {
    e.preventDefault();

    scrollTo($(this));
  });

  $(".arc-branding a").on("click", function (e) {
    e.preventDefault();

    scrollTo($(this));
  });

  function scrollTo(div) {
    var target = div.attr("href");
    var offset = 54.5;

    $("html, body").animate(
      {
        scrollTop: $(target).offset().top - offset,
      },
      800
    );
  }

  // Change background color on passing certain height.
  $(window).on("scroll", function () {
    var scrollHeight = 55;
    var div = $(".arc-header");

    if ($(window).scrollTop() > scrollHeight) {
      div.addClass("sticky-header");
    } else {
      div.removeClass("sticky-header");
    }
  });
});

new Splide(".splide", {
  type: "loop",
  perPage: 3,
  autoplay: "true",
  speed: 200,
  gap: "15px",
  breakpoints: {
    576: {
      perPage: 1,
    },
    768: {
      perPage: 2,
    },
  },
}).mount();

  </script>
</html>
